name: Bump version

on:
  workflow_run:
    workflows: [Test]
    branches: [main]
    types: [completed]
  workflow_dispatch:

env:
  WORKFLOW_OUT_DIR: ./workflow-outputs

jobs:
  bump-version:
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event.workflow_run.conclusion == 'success'
    env:
      JDK_VERSION: 21
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Run checkout github action
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Setup GitHub Runner workflow
        uses: ./mobile-android-pipelines/actions/setup-runner
        with:
          jdk-version: 21

      - name: Create a pre-release unless the workflow was triggered manually
        id: pre-release
        # If the workflow is triggered automatically (e.g. by merging a PR) create a pre-release
        # If the workflow is triggered manually (i.e. through the Github UI) create a stable release
        run: echo "enabled=$IS_AUTOMATIC_RELEASE" >> "$GITHUB_OUTPUT"
        env:
          IS_AUTOMATIC_RELEASE: ${{ github.event_name != 'workflow_dispatch' }}

      - name: Ensure stable release is created from an existing pre-release
        if: ${{ steps.pre-release.outputs.enabled == 'false' }}
        uses: ./actions/ensure-pre-release-tag

      - name: Increment the release version using Conventional Commits
        id: versioning
        uses: ./mobile-android-pipelines/actions/increment-version
        with:
          pre-release-type: ${{ steps.pre-release.outputs.enabled == 'true' && 'alpha' || '' }}

      - name: Publish release tags
        if: ${{ steps.versioning.outputs.current_version != steps.versioning.outputs.new_version }}
        uses: ./mobile-android-pipelines/actions/publish-release-tag

      - name: Generate Changelog
        uses: ./mobile-android-pipelines/actions/generate-and-upload-changelog
        with:
          current-version: ${{ steps.versioning.outputs.current_version }}
          new-version: ${{ steps.versioning.outputs.new_version }}
          version-prefix: ''

      - name: Create workflow outputs
        uses: ./actions/write-bump-version-outputs
        with:
          current-version: ${{ steps.versioning.outputs.current_version }}
          new-version: ${{ steps.versioning.outputs.new_version }}
          workflow-out-dir: ${{ env.WORKFLOW_OUT_DIR }}

      - name: Create GitHub release
        if: steps.versioning.outputs.current_version != steps.versioning.outputs.new_version
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          tag_name: ${{ steps.versioning.outputs.new_version }}
          draft: false
          prerelease: ${{ steps.pre-release.outputs.enabled }}
          generate_release_notes: true

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace
