name: Lint

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Run checkout github action
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Set up git runner
        uses: ./mobile-android-pipelines/actions/setup-runner
        with:
          jdk-version: 21

      - name: Cache mobile-android-pipelines build
        uses: ./actions/cache-pipelines-build

      - name: Lint
        uses: ./mobile-android-pipelines/actions/lint
        env:
          GITHUB_ACTOR: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME}}
          GITHUB_TOKEN: ${{ secrets.MODULE_FETCH_TOKEN }}

      - name: Clean workspace
        if: ${{ always() }}
        uses: ./mobile-android-pipelines/actions/clean-workspace

  lint-structure:
    name: Lint Kotlin structure
    runs-on: ubuntu-latest
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      packages: read

    steps:
      - name: Run checkout github action
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Set up git runner
        uses: ./mobile-android-pipelines/actions/setup-runner
        with:
          jdk-version: 21

      - name: Run Konsist tests
        run: ./gradlew konsist-test:testDebugUnitTest
        env:
          GITHUB_ACTOR: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME}}
          GITHUB_TOKEN: ${{ secrets.MODULE_FETCH_TOKEN }}

  lint-github-actions:
    name: Lint Github Actions
    runs-on: ubuntu-latest

    steps:
      - name: Run checkout github action
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Lint Github Actions
        uses: alphagov/govuk-infrastructure/.github/actions/actionlint@7a6653567f4d69d70d95d7dbf3d4470b6c2db63a # main

