name: Check PR metadata

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-pr-title:
    name: Check PR title
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title against conventional commit standards
        uses: Oliver-Binns/Versioning@be1807ff3c5cd06edbe8fa3de54076cfd505f2df # 1.4.3
        with:
          ACTION_TYPE: 'Validate'

  check-commit-messages:
    name: Check commit messages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0
          # Check the PR HEAD instead of the merge commit
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Check commit messages
        uses: ./mobile-android-pipelines/actions/verify-conventional-commit

  check-hotfix-version:
    if: startsWith(github.head_ref, 'hotfix/')
    name: Verify version
    runs-on: ubuntu-latest
    steps:
      - name: Check hotfix branch name
        uses: ./mobile-android-pipelines/actions/get-next-version-from-pr-branch

  check-hotfix-target-branch:
    if: startsWith(github.head_ref, 'hotfix/')
    name: Verify version
    runs-on: ubuntu-latest
    env:
      BASE_BRANCH: ${{ github.base_ref }}
    steps:
      - name: Check target branch is correct
        run: |
          [[ $BASE_BRANCH == temp/hotfix* ]] || exit 1
        shell: bash