name: Check PR metadata

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  check-pr-title:
    name: Check PR title
    runs-on: ubuntu-latest

    steps:
      - name: Check PR title against conventional commit standards
        uses: Oliver-Binns/Versioning@ae52d69cfa22993e2c001c9e6556ef9bc7dd0ce2 # 1.4.2
        with:
          ACTION_TYPE: 'Validate'

  check-commit-messages:
    name: Check commit messages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codebase
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0
          # Check the PR HEAD instead of the merge commit
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Check commit messages
        uses: ./mobile-android-pipelines/actions/verify-conventional-commit
