name: Publish packages

on:
  workflow_run:
    workflows: [Bump version]
    types: [completed]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

env:
  WORKFLOW_OUT_DIR: ./workflow-outputs

jobs:
  publish-packages:
    name: ${{ github.event_name == 'pull_request' && 'Test publishing packages' || 'Publish packages' }}
    env:
      JDK_VERSION: 21
      GITHUB_ACTOR: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME}}
      GITHUB_TOKEN: ${{ secrets.MODULE_FETCH_TOKEN }}
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Run checkout github action
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.head_sha || '' }}
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Download bump-version outputs
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v6.0.0
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        with:
          name: bump-version-outputs
          path: ${{ env.WORKFLOW_OUT_DIR }}
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable publishing if triggered manually
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: echo "should_publish=true" >> "$GITHUB_ENV"

      - name: Enable publishing if version was bumped
        run: |
          if [ -f "$WORKFLOW_OUT_DIR/bump-version.yml" ]; then
            version_bumped=$(yq ".version-bumped" "$WORKFLOW_OUT_DIR/bump-version.yml")
            echo "should_publish=$version_bumped" >> "$GITHUB_ENV"
          fi

      - name: Setup GitHub Runner workflow
        uses: ./mobile-android-pipelines/actions/setup-runner
        with:
          jdk-version: 21

      - name: Cache mobile-android-pipelines build
        uses: ./actions/cache-pipelines-build

      - name: Publish to Github Packages
        if: ${{ github.event_name != 'pull_request' && env.should_publish == 'true' }}
        uses: ./mobile-android-pipelines/actions/maven-publish
        with:
          GITHUB_ACTOR: ${{ secrets.MODULE_PUSH_TOKEN_USERNAME }}
          GITHUB_TOKEN: ${{ secrets.MODULE_PUSH_TOKEN }}

      - name: Test publishing to Maven local
        if: ${{ github.event_name == 'pull_request' }}
        uses: ./mobile-android-pipelines/actions/maven-publish-local
        with:
          expected-packages: '
            uk.gov.onelogin.criorchestrator.features:resume-internal,
            uk.gov.onelogin.criorchestrator.features:resume-internal-api,
            uk.gov.onelogin.criorchestrator.features:resume-public-api,
            uk.gov.onelogin.criorchestrator.features:select-doc-internal,
            uk.gov.onelogin.criorchestrator.features:select-doc-internal-api,
            uk.gov.onelogin.criorchestrator.libraries:analytics,
            uk.gov.onelogin.criorchestrator.libraries:di,
            uk.gov.onelogin.criorchestrator.libraries:screenshot-testing,
            uk.gov.onelogin.criorchestrator.sdk:sdk,
            uk.gov.onelogin.criorchestrator.sdk:sdk-internal,
            uk.gov.onelogin.criorchestrator.sdk:sdk-shared-api'

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace
