name: Upload to Play Store

on:
  workflow_run:
    workflows: [Bump version]
    types: [completed]

env:
  WORKFLOW_OUT_DIR: ./workflow-outputs

jobs:
  upload-to-play-store:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    env:
      JDK_VERSION: 21
    runs-on: ubuntu-latest
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      packages: read
    steps:
      - name: Run checkout github action
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.head_sha || '' }}
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Read bump-version outputs
        id: bump-version
        uses: ./actions/read-bump-version-outputs
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          workflow-out-dir: ${{ env.WORKFLOW_OUT_DIR }}
          workflow-run-id: ${{ github.event.workflow_run.id }}

      - name: Setup GitHub Runner workflow
        uses: ./mobile-android-pipelines/actions/setup-runner
        with:
          jdk-version: 21

      - name: Cache mobile-android-pipelines build
        uses: ./actions/cache-pipelines-build

      - name: Retrieve GitHub secrets
        id: retrieve-secrets
        uses: ./mobile-android-pipelines/actions/retrieve-secrets
        with:
          keystore-base64: ${{ secrets.KEYSTORE_BASE64 }}
          google-service-account-json-base64: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON_BASE64 }}

      - name: Generate version code
        id: generate-version-code
        uses: ./mobile-android-pipelines/actions/generate-version-code

      - name: Bundle release app
        id: bundle-release-app
        uses: ./mobile-android-pipelines/actions/bundle-release-app
        with:
          github-actor: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME }}
          github-token: ${{ secrets.MODULE_FETCH_TOKEN }}
          keystore-file-path: ${{ steps.retrieve-secrets.outputs.keystore-file-path }}
          keystore-password: ${{ secrets.KEYSTORE_PASSWORD }}
          keystore-key-alias: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          keystore-key-password: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          modules: 'test-wrapper'
          flavors: 'staging,build'
          version-code: ${{ steps.generate-version-code.outputs.version-code }}
          version-name: ${{ steps.bump-version.outputs.new-version }}

      - name: Upload to Play Store
        uses: ./mobile-android-pipelines/actions/publish-to-play-store
        with:
          aab-paths: ${{ steps.bundle-release-app.outputs.aab-paths }}
          package-name: 'uk.gov.onelogin.criorchestrator.testwrapper'
          google-service-account-json: ${{ steps.retrieve-secrets.outputs.google-service-account-json-file-path }}

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace
